*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

/* HEADER */
img{
    width: 150px;
    line-height: 80px;
    margin: 15px;
    margin-left: 80px;
}

nav{
    background: white;
    height: 50px;
    width: 100%;
    position: fixed;
}

nav ul{
    float: right;
    margin-right: 80px;
}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 20px;
}

nav ul li a{
    color: #333;
    font-weight: 600;
}

nav ul li a:hover{
    transition: all 0.3s ease-in-out;
    /* background-color: #cc7c04; */
}

/* image header */
#image_header{
    height: 500px;
    background-image: url('../images/web-design-3411373__340.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* image header */

/* FOOTER */
#footer_main{
    background-color: #e7eaee;
    padding: 30px 0px;
}

#footer_main, p{
    line-height: 2.74;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    font-family: "CerebriSans";
    text-align: center;
    color: #696969
}

#footer_main, p, a{
    color: #696969;
    
}

a:hover{
    color: blue;
    transition: all 0.3s ease-in-out;
    
}

#footer_icons{
width: 30%;
margin: 0 auto;
}

#footer_icons>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer_icons>ul>li{
    list-style: none;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;

}

#footer_icons>ul>li>i{
  
    display: inline-block;
    translate: -5% -30%;
    

    
}






